<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
       <ul>
           <!--
                重复渲染 v-for 绑定到的 DOM 元素及
                内部的子元素，并且可以通过设置别名的方式，获取数组内数据渲染到节点中。
                到时候会在页面上渲染出4个li，及内部子元素
            -->
            <!--遍历输出VUE实例中的data数据的数组-->
           <li v-cloak v-for="(item,index) in items">
               <!--还可以带下标输出-->
                <h3>{{index}}-{{item.title}}</h3>
                <p>{{item.description}}</p>
           </li>

           <!--v-for 除了可以遍历数组外，也可以遍历对象，-->
           <li v-for="(key,index) in objectDemo">
               {{key}}:{{value}}
           </li>
           
       </ul>
    </div>


    <script src="../../../vue.js"></script>
    <script>
        /*
            是 Vue.js 对 data 中数组的原生方法进行了封装，所以在改变数组时能触发
            视图更新，但以下两种情况是无法触发视图更新的：
            ① 通过索引直接修改数组元素，例如 vm.items[0] = { title : 'title-changed'};
            ② 无法直接修改“修改数组”的长度，例如：vm.items.length = 0
        */
       var app =  new Vue({
            el:'#app',
            data:{
                items:[
                    {title:'title-1',description : 'description-1'},
                    {title:'title-2',description : 'description-2'},
                    {title:'title-3',description : 'description-3'},
                    {title:'title-4',description : 'description-4'},
                ],
                objectDemo:{
                    a:'a-value',
                    b:'b-value',
                    c:'c-value',
                    d:'d-value',
                }
            }
        });
        //通过索引直接修改数组元素
        //可以通过以下两种方法修改元素值，同时更新视图,但我还是无法成功修改，直接报错，等研究
        // app.items[0] = {title:'title-10',description:'10'};
        
        // app.items.$set(0, {title:'title-10'});

        // app.$set('items[0]',{title:'title-10'});
        // app.$set('items[0]',{ title : 'title-also-changed '})
    </script>
</body>
</html>